/* 背景覆蓋樣式 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    z-index: -5; /* 確保在最上層 */
}

/* 忘記密碼彈跳視窗樣式 */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#forgetpsw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #276BC6;
    height: 513px;
    width: 503px;
    margin: auto;
    border-radius: 20px;
    padding:  80px;
    position: relative;
}
.close-btn {
    position: absolute;
    top: 10px; /* 距離上方 */
    right: 10px; /* 距離右側 */
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #1C276D;
    cursor: pointer;
}

.close-btn:hover {
    color: #FFD700; /* 滑鼠懸停時變成黃色 */
}
.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    z-index: 5;

}
.line {
    width: 333px;
    height: 3px;
    background-color: #FFFEF6;
    position: absolute;
    top:122px;
    background: linear-gradient(0.25turn,#48B2FF 75%,#ffffff 0%);
}
.forget_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.forget_list input {
    margin-bottom: 30px;
    border: none;
    border-radius: 99px;
    width: 100%;
    height: 40px;
    max-width: 345px;
    font-size: 12px;
    padding-left: 15px;
}
input::placeholder {
    color: rgba(67, 148, 230, 0.6) ;
}
input:focus{
    outline: none;
}

.forget_list button {
    background-color: #FFD700;
    border: none;
    border-radius: 99px;
    color: #4395E6;
    font-size: 12px;
    min-width: 130px;
    height: 40px;
    cursor: pointer;
}

.forget_list button:hover {
    transform : scale(1.2);
}