
#forgetpsw-page1,#forgetpsw-page2,#forgetpsw-page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #276BC6;
    min-width:537px;
    min-height: 513px;
    margin: auto;
    border-radius: 20px;
    padding:  80px;
    position: relative;
    
}

.close_btn {
    position: absolute;
    top: 1.5rem; /* 距離上方 */
    right: 2rem; /* 距離右側 */
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--font-b-1);
    cursor: pointer;
}

.close_btn:hover {
    color: var(--secondary-y-1); /* 滑鼠懸停時變成黃色 */
}
.step-other {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    z-index: 5;

}
.line-other {
    width: 60%;
    height: 3px;
    background-color: #FFFEF6;
    position: absolute;
    top:105px;

}
.linepage1{
    background: linear-gradient(0.25turn,#48B2FF 25%,#ffffff 0%);
}
.linepage2 {
    background: linear-gradient(0.25turn,#48B2FF 75%,#ffffff 0%);
}
.linepage3 {
    background: linear-gradient(0.25turn,#48B2FF 100%,#ffffff 0%);
}
.forget_list-other {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.forget_list-other input {
    margin-bottom: 30px;
    border: none;
    border-radius: 99px;
    width: 100%;
    height: 40px;
    font-size: 0.75rem;
    padding-left: 15px;
color: var(--font-b-1);
}
.forget_list-other input::placeholder {
    color: rgba(67, 148, 230, 0.6) ;
}
.forget_list-other input:focus{
    outline: none;
}
.ai_confirm {
    display: flex;
    flex-direction: row;
    width:100%
}
.imgconf {
    width: 180px;
    margin: 0 0 0 36px;
}
.email_confirm {
    display: flex;
    flex-direction: row;
    width:100%
}
.forget_list-other button {
    background-color:var(--secondary-y-1);
    border: none;
    border-radius: 99px;
    color: var(--font-b-1);
    font-size: 12px;
    min-width: 130px;
    height: 40px;
    cursor: pointer;
}

.forget_list-other button:hover {
    transform : scale(1.2);
}
.forget_list-other .submit_0 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 36px;
    background-color: #48B2FF;
    border: none;
    border-radius: 99px;
    color: #FFFEF6;
    font-size: 12px;
    min-width: 100px;
    height: 40px;
    cursor: pointer;
}
.forget_list-other .submit_0:hover {
    color: #276BC6;
    
}