:root {
	--dark: #719fc5;
	--light: #719fc5;
	
	--text: var(--dark);
	--border: var(--dark);
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--dark);
		--text: var(--light);
		--border: var(--light);
	}
}

.marquee {
	width: 100%;
	overflow: hidden;
}


.tag-scroller {
	display: grid;
	gap: 1.5rem;
	mask: linear-gradient(90deg, #4395E6,#4395E6 15%, #4395E6 85%, #0000);
}

.tag-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

@media (prefers-reduced-motion) {
	.tag-list {
		flex-flow: row nowrap;
		overflow: auto;
		scrollbar-width: none;

	}

	.tag-list::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
	}
}

.tag-list li {
	background-color:  var(--primary-b-2);
	font-family:'Noto Sans TC' sans-serif;
	font-size: 32px;
	line-height: 1;
	padding:8px 50px;
	border: 2px solid var(--border);
	border-radius: 10ch;
	white-space: nowrap;
	color: var(--lesser-background-y-) ;
	
}

.tag-scroller.scrolling .tag-list {
	width: max-content;
	flex-wrap: nowrap;
	animation: horizontal-scroll var(--duration) var(--direction, normal) linear infinite;
}

.tag-scroller.scrolling .tag-list:nth-child(even) {
	--direction: reverse;
}



@keyframes horizontal-scroll {
	to {
		
		transform: translateX(calc(-50% - .75rem));
	}
}