@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Train+One&display=swap');
/* UTF-8一定要在行數1 */



:root {
    --primary-b-1: #48B2FF;
    --primary-b-2: #4395E6;

    --secondary-y-1: #FFDE67;
    --secondary-b-1: #276BC6;

    --tertiary: #ecf0f4;

    --font-b-1: #1C276D;
    --font-b-2: #276BC6;

    /* 輔助 */
    --lesser-background-y-: #FFFEF6;
    --lesser-background-b-: #EFF5FF;




    /* 漸層 */
}


/* 重置所有標籤的樣式 */
* {
    /* '*'代表全部所有東西 重製全部東西 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  rwd一定要寫 不累加padding border*/
    /* 不累加內容的padding */
}

/* 重置字體 */
/* 字體會先抓前面的 */
/* 英文字體不會設定中文字體 會直接往後找 font-family= '英文字體' '中文字體' */
body {

    font-family: sans-serif;
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    text-decoration: none;
    /* 將預設inline改為block */
    /* 底線會先拿掉 */
    color: #000;
    /* 設定顏色 */
}

/* 共用區 */
:root {
    --primary-b-1: #48B2FF;
    --primary-b-2: #4395E6;

    --secondary-y-1: #FFDE67;
    --secondary-b-1: #276BC6;

    --tertiary: #ecf0f4;

    --font-b-1: #1C276D;
    --font-b-2: #276BC6;

    /* 輔助 */
    --lesser-background-y-: #FFFEF6;
    --lesser-background-b-: #EFF5FF;
}

h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: var(--font-b-1);
}

h3 {
    font-size: 22px;
    font-weight: 600;
    color: var(--font-b-1);
}

section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(../imgs/member_img/background.svg);
    background-color: var(--lesser-background-y-);
    background-size: cover;
}

main {
    display: flex;
}

/* 頁首區 */

#c_topbar {
    width: 125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lesser-background-b-);
    color: var(--primary-b-2);
    z-index: 999;
    position: fixed;
}

#c_topbar ul {
    width: 30%;
    height: 100%;
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav li {
    margin: auto;
    font-size: 18px;
}

.nav li a {
    color: var(--primary-b-2);
    margin: auto;
    font-size: 16px;
}


#c_topbar .nav .log_out {
    font-size: 16px;
}

h1 {
    width: 48px;
    height: 48px;
    margin: 47.47px;
}

/* 頭像區 */

#head {
    width: 315px;
    height: 877px;
    margin: 67px 0 0 260px;
    border-radius: 20px;
    background-color: var(--lesser-background-b-);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    /* position: fixed; */
}

#head .head {
    margin: 66px 40px;
    width: 164px;
    height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 50%;
    padding: 62px 50px;
    border-radius: 20px;
    margin-top: 62px;
    background-color: var(--lesser-background-y-);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.info li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 200px;
}


.info a {
    width: 200px;
    height: 50px;
    border: 2px solid var(--primary-b-2);
    background-color: var(--primary-b-2);
    color: var(--tertiary);
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info a:hover {
    background-color: var(--secondary-y-1);
    color: var(--secondary-b-1);
    font-weight: 600;
}


/* 修改區 */
#me {
    margin: 65px 0 0 116px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    height: 100%;
}

#member_edit {
    font-size: 18px;
    margin-top: 1rem;
    width: 100%;
    color: var(--font-b-1);
    font-family: 'Noto Sans TC', sans-serif;
    align-content: center;
}

#member_edit input,
#member_edit textarea,
#member_edit select {
    width: 20%;
    height: 37.48px;
    padding: 6px;
    border-radius: 25px;
    font-size: 16px;
    color: var(--secondary-b-1);
    background-color: var(--lesser-background-b-);
    border: transparent;
}

#member_edit select {
    justify-content: center;
}

#member_edit input:focus,
#member_edit textarea:focus,
#member_edit select:focus {
    outline: transparent;
    border: transparent;
}

/* 第一欄 */
.name {
    width: 100vh;
    height: 156.6px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 第二欄 */
.title {
    margin-top: 41.5px;
}

.account {
    width: 100vh;
    height: 156.6px;
    margin-top: 1rem;
    padding: 20px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

#member_edit #email {
    width: 30%;
    margin: 0 29px 0 36.77px;
}

.account button {
    width: 95px;
    height: 35px;
    margin-right: 46.61px;
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--secondary-y-1);
    border: none;
    cursor: pointer;
}

.account p {
    margin-right: 23.4px;
}

.account .google {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-image: url(../imgs/member_img/google.svg);
    background-color: transparent;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-right: 26px;
    cursor: pointer;
}

.account .fb {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-image: url(../imgs/member_img/fb.svg);
    border: none;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
}

.pw {
    width: 100%;
}

.identity {
    width: 100%;
}

/* 第三欄 */

.pw {
    width: 100vh;
    height: 30%;
    margin-top: 1rem;
    padding: 50px 20px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}

.pw .gap {
    margin: 20px 0;
}

.pw #password-o {
    width: 35%;
    padding: 10px;
    margin: 0 42px;
    align-content: space-between;
}

.pw #password {
    width: 35%;
    padding: 10px;
    margin: 0 60px;
    align-content: space-between;
}

.pw button {
    width: 95px;
    height: 35px;
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--secondary-y-1);
    border: none;
    cursor: pointer;
}

/* 第四欄 */
.identity {
    width: 100vh;
    height: 15%;
    margin-top: 1rem;
    padding: 50px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.identity #member {
    width: 24%;
    height: 30%;
    align-content: center;
}


/* 儲存按鈕 */
#save {
    width: 100vh;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

#submit {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    font-size: 16px;
    margin: 45px 20px 0 0;
    background-color: var(--secondary-y-1);
    border: none;
    cursor: pointer;
}


#bell {
    width: 20vh;
    height: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    cursor: pointer;
}

.bell {
    width: 60px;
    height: 60px;
    background-image: url(../imgs/member_img/bell.svg);
}

/* 我的紀錄區 */
#record {
    width: 100vh;
    margin: 107px 0 0 130px;
    flex-direction: column;
    border: #000 1px solid;
}

#record figure{
    width: 200px;
    height: 213px;
}
#test {
    display: flex;
    border: #000 1px solid;
    margin: 50px;
}

#program {
    border: #000 1px solid;
    margin: 50px;
}


progress {
    width: 30%;
    height: 20px;
    border-radius: 10px;
    background-color: #FFFEF6;
    border: 1px solid var(--font-b-1);
}

progress::-webkit-progress-bar {
    background-color: #FFFEF6;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: var(--primary-b-2);
    border-radius: 30px;
}