@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Train+One&display=swap');
/* UTF-8一定要在行數1 */



:root {
    --primary-b-1: #48B2FF;
    --primary-b-2: #4395E6;

    --secondary-y-1: #FFDE67;
    --secondary-b-1: #276BC6;

    --tertiary: #ecf0f4;

    --font-b-1: #1C276D;
    --font-b-2: #276BC6;

    /* 輔助 */
    --lesser-background-y-: #FFFEF6;
    --lesser-background-b-: #EFF5FF;




    /* 漸層 */
}


/* 重置所有標籤的樣式 */
* {
    /* '*'代表全部所有東西 重製全部東西 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  rwd一定要寫 不累加padding border*/
    /* 不累加內容的padding */
}

/* 重置字體 */
/* 字體會先抓前面的 */
/* 英文字體不會設定中文字體 會直接往後找 font-family= '英文字體' '中文字體' */
body {

    font-family: sans-serif;
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    text-decoration: none;
    /* 將預設inline改為block */
    /* 底線會先拿掉 */
    color: #000;
    /* 設定顏色 */
}

/* 共用區 */
:root {
    --primary-b-1: #48B2FF;
    --primary-b-2: #4395E6;

    --secondary-y-1: #FFDE67;
    --secondary-b-1: #276BC6;

    --tertiary: #ecf0f4;

    --font-b-1: #1C276D;
    --font-b-2: #276BC6;

    /* 輔助 */
    --lesser-background-y-: #FFFEF6;
    --lesser-background-b-: #EFF5FF;
}

h2 {
    width: 100%;
    padding-bottom: 36px;
    font-size: 30px;
    font-weight: 600;
    color: var(--font-b-1);
}

h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--font-b-1);
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(../imgs/member_img/background.svg);
    background-color: var(--lesser-background-y-);
    background-size: cover;
    position: relative;

}

main {
    display: flex;
}

/* 頁首區 */

#c_topbar {
    width: 125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lesser-background-b-);
    color: var(--primary-b-2);
    z-index: 999;
    position: fixed;
}

#c_topbar .nav {
    width: 100%;
    height: 100%;
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

.nav li {
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.item-s {
    width: 75%;
    height: 6.5vh;
    display: flex;
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    text-align: center;
    /* 確保文字居中 */
}


.item-s:hover {
    color: var(--secondary-y-1);
    background-color: var(--primary-b-2);
    border-radius: 38% 62% 67% 33% / 49% 51% 49% 51%;
}

.nav li a {
    color: var(--primary-b-2);
    margin: auto;
    font-size: 16px;
}

.sub-menu {
    height: 60vh;
    width: 11vh;
    color: var(--lesser-background-y-);
    /* 這裡設置的文字顏色將應用到未被覆蓋的地方 */
    background-color: var(--primary-b-2);
    padding: 10px;
    /* 調整padding，不讓子選單內部太大 */
    list-style-type: none;
    position: absolute;
    top: -15vh;
    left: 95%;
    border-radius: 25px;
    text-align-last: center;
    flex-direction: column;
    justify-content: space-around;
}

.sub-menu li {
    display: flex;
    /* 讓li使用flexbox布局 */
    align-items: center;
    /* 垂直置中 */
    justify-content: center;
    /* 水平置中 */
    padding: 3px 5px;
    text-align: center;
    color: var(--lesser-background-y-);
    margin: 0;
    height: 15%;
}

.sub-menu li:hover {
    color: var(--primary-b-2);
    /* 應用背景色與文字顏色的對比 */
    background-color: var(--secondary-y-1);
    border-radius: 50%;
}

.nav .sub-menu a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--lesser-background-y-);
    /* 讓文字顏色繼承自li的設定，確保一致性 */
    font-weight: 600;
}

.sub-menu li:hover a {
    color: var(--primary-b-2);
    /* 鼠標懸停時的文字顏色 */
    text-decoration: none;
    font-weight: 600;
}

#c_topbar .nav .log_out {
    font-size: 16px;
}

h1 {
    width: 48px;
    height: 48px;
    margin: 47.47px;
}

/* 頭像區 */

#head {
    width: 315px;
    height: 877px;
    margin: 2.5% 0 0 260px;
    border-radius: 20px;
    background-color: var(--lesser-background-b-);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    /* position: fixed; */
}

#head .head {
    margin: 66px 40px;
    width: 164px;
    height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 50%;
    padding: 62px 50px;
    border-radius: 20px;
    background-color: var(--lesser-background-y-);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.info li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 200px;
}


.info a {
    width: 200px;
    height: 50px;
    border: 2px solid var(--primary-b-2);
    background-color: var(--primary-b-2);
    color: var(--tertiary);
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info a:hover {
    background-color: var(--secondary-y-1);
    color: var(--secondary-b-1);
    font-weight: 600;
}


/* 修改區 */
#me {
    margin: 65px 0 0 116px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    height: 100%;
}

#member_edit {
    font-size: 18px;
    margin-top: 1rem;
    width: 100%;
    color: var(--font-b-1);
    font-family: 'Noto Sans TC', sans-serif;
    align-content: center;
}

#member_edit input,
#member_edit textarea,
#member_edit select {
    width: 20%;
    height: 37.48px;
    padding: 20px;
    border-radius: 25px;
    font-size: 16px;
    color: var(--secondary-b-1);
    background-color: var(--lesser-background-b-);
    border: transparent;
}

#member_edit select {
    justify-content: center;
}

#member_edit input:focus,
#member_edit textarea:focus,
#member_edit select:focus {
    outline: transparent;
    border: transparent;
}

/* 第一欄 */
.name {
    width: 100vh;
    height: 156.6px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 第二欄 */
.title {
    margin-top: 41.5px;
}

.account {
    width: 100vh;
    height: 156.6px;
    margin-top: 1rem;
    padding: 20px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

#member_edit #email {
    width: 30%;
    margin: 0 29px 0 36.77px;
}

.account button {
    width: 95px;
    height: 35px;
    margin-right: 46.61px;
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--secondary-y-1);
    border: none;
    cursor: pointer;
}

.account p {
    margin-right: 23.4px;
}

.account .google {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-image: url(../imgs/member_img/google.svg);
    background-color: transparent;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-right: 26px;
    cursor: pointer;
}

.account .fb {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-image: url(../imgs/member_img/fb.svg);
    border: none;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
}

.pw {
    width: 100%;
}

.identity {
    width: 100%;
}

/* 第三欄 */

.pw {
    width: 100vh;
    height: 30%;
    margin-top: 1rem;
    padding: 50px 20px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}

.pw .gap {
    margin: 20px 0;
}

.pw #password-o {
    width: 35%;
    padding: 10px;
    margin: 0 42px;
    align-content: space-between;
}

.pw #password {
    width: 35%;
    padding: 10px;
    margin: 0 60px;
    align-content: space-between;
}

.pw button {
    width: 95px;
    height: 35px;
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--secondary-y-1);
    border: none;
    cursor: pointer;
}

/* 第四欄 */
.identity {
    width: 100vh;
    height: 15%;
    margin-top: 1rem;
    padding: 50px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.identity #member {
    width: 24%;
    height: 30%;
    align-content: center;
}


/* 儲存按鈕 */
#save {
    width: 100vh;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

#submit {
    width: 20%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin: 45px 20px 0 0;
    background-color: var(--secondary-y-1);
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--secondary-b-1);
    color: var(--secondary-y-1);
    font-weight: 600;
}


#bell {
    width: 20vh;
    height: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 50px;
}

.bell {
    width: 60px;
    height: 60px;
    background-image: url(../imgs/member_img/bell.svg);
}

/* 我的紀錄頁 */

#record {
    width: 100vh;
    height: 80vh;
    margin: 107px 0 0 130px;
    flex-direction: column;
}

#record figure {
    width: 20vh;
    padding-bottom: 10px;
}

#test {
    width: 90vh;
    display: flex;
    margin: 50px;
    justify-content: space-around;
    overflow: auto;
    padding-bottom: 30px;
    gap: 40px;
}

#program {
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    overflow: auto;
    padding-bottom: 30px;
    gap: 40px;
}



/* 捲軸 */
#test::-webkit-scrollbar,
#program::-webkit-scrollbar,
.content ul::-webkit-scrollbar,
#my_test::-webkit-scrollbar,
#messages::-webkit-scrollbar {
    background-color: var(--lesser-background-y-);
    border: var(--primary-b-1) 1px solid;
    border-radius: 99px;

}

#test::-webkit-scrollbar-thumb,
#program::-webkit-scrollbar-thumb,
.content ul::-webkit-scrollbar-thumb,
#my_test::-webkit-scrollbar-thumb,
#messages::-webkit-scrollbar-thumb {
    background-color: var(--primary-b-2);
    border-radius: 99px;
}

#test::-webkit-scrollbar-track,
#program::-webkit-scrollbar-track,
.content ul::-webkit-scrollbar-track,
#my_test::-webkit-scrollbar-track,
#messages::-webkit-scrollbar-track {
    border-radius: 99px;
}

#test::-webkit-scrollbar-button,
#program::-webkit-scrollbar-button,
.content ul::-webkit-scrollbar-button,
#my_test::-webkit-scrollbar-button,
#messages::-webkit-scrollbar-button{
    display: none;
    /* 若預設就是display none 是因為body有設定botton 所以需要另外設定取消 */
}

#test::-webkit-scrollbar-corner,
#program::-webkit-scrollbar-corner,
.content ul::-webkit-scrollbar-corner,
#my_test::-webkit-scrollbar-corner,
#messages::-webkit-scrollbar-corner {
    border-radius: 50%;
}

#test::-webkit-scrollbar-thumb:hover,
#program::-webkit-scrollbar-thumb:hover,
.content ul::-webkit-scrollbar-thumb:hover,
#my_test::-webkit-scrollbar-thumb:hover,
#messages::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-b-2);
    border-radius: 99px;
}

/* 我的收藏頁 */

#collect {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#collect h2 {
    width: 100%;
    margin: 100px;
}

.content {
    width: 100%;
    height: 600px;
    margin: 0 120px 0 100px;
    display: flex;
    justify-content: space-between;
}

.content ul {
    width: 400px;
    height: 80%;
    margin-top: 30px;
    padding: 10px;
    background-color: var(--lesser-background-b-);
    border-radius: 20px;
    overflow: auto;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img {
    width: 24px;
    height: 24px;
}

.first {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first li {
    width: 80%;
    justify-content: center;
    align-content: center;
}

.first a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--font-b-1);
}

.first a:hover {
    text-decoration: underline;
    color: var(--font-b-2);
}

/* 我的考試頁 */


#test_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
}

.user {
    width: 100%;
    margin-left: 10vh;
    font-size: 36px;
    font-style: normal;
}

/* 搜尋區 */
#search {
    display: flex;
    width: 85%;
    margin: 30px 0 30px 90px;
    position: relative;
    align-items: baseline;
    padding: 0 40px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 64.5vh;
    background-position: 0 -20px;
    background-position: 100% auto;
}

.icon-user {
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 5;
    background-image: url(../imgs/sraech-img/serch.svg);
    /*引入图片图片*/
    background-repeat: no-repeat;
    /*设置图片不重复*/
    background-position: 0px 0px;
    /*图片显示的位置*/
    width: 48px;
    /*设置图片显示的宽*/
    height: 48px;
    /*图片显示的高*/

}

.search_label {
    width: 40%;
}

input {
    background-color: var(--lesser-background-b-);
    width: 100%;
    height: 6vh;
    font-size: 1.2rem;
    color: var(--font-b-2);
    margin-bottom: 10px;
    border-radius: 99px;
    border: var(--primary-b-2) 1px solid;
    padding: 0 20px;
}

input:focus {
    outline: var(--font-b-1) 1px solid;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* test我的考試區 */

.test_title {
    width: 50%;
    margin-left: 25vh;
}

#my_test {
    display: flex;
    width: 75%;
    margin: 30px 0 90px 15%;
    overflow: auto;
    padding-bottom: 10px;
    gap: 50px;
}

.test_control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

#my_test .content {
    width: 100vh;
    margin: 107px 0 0 0;
}

#my_test figure {
    width: 18vh;
    padding-bottom: 10px;
}

/* 紀錄收藏區 */
.my_content {
    width: 100%;
    height: 35vh;
    margin-left: 25vh;
    display: flex;
}

.my_content ul {
    width: 400px;
    height: 87%;
    margin-top: 30px;
    padding: 10px;
    margin-right: 10vh;
    background-color: var(--lesser-background-b-);
    border-radius: 20px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record1 {
    margin-right: 20vh;
}

.record1 .record {
    counter-reset: list-counter;
    position: relative;
    padding-bottom: 50px;
    /* 為了避免按鈕覆蓋最後一個列表項目 */
}

.collect1 {
    padding: 2px;
}

.collect1 .collect {
    position: relative;
    padding-bottom: 50px;
    /* 為了避免按鈕覆蓋最後一個列表項目 */
}

.record button {
    position: absolute;
    /* 設置按鈕為絕對定位 */
    right: 50px;
    /* 距離右側10px */
    bottom: 10px;
    /* 距離底部10px */
    padding: 3px 20px;
    /* 按鈕的內邊距（可選） */
    background-color: var(--primary-b-2);
    /* 按鈕背景顏色（可選） */
    color: var(--lesser-background-y-);
    /* 按鈕文字顏色（可選） */
    border: none;
    /* 移除按鈕邊框 */
    border-radius: 15px;
    /* 按鈕圓角（可選） */
    cursor: pointer;
    /* 滑鼠移上去時顯示手型 */
}

.record button:hover {
    background-color: var(--secondary-y-1);
    color: var(--secondary-b-1);
}

.collect button {
    position: absolute;
    /* 設置按鈕為絕對定位 */
    right: 50px;
    /* 距離右側10px */
    bottom: 10px;
    /* 距離底部10px */
    padding: 3px 20px;
    /* 按鈕的內邊距（可選） */
    background-color: var(--primary-b-2);
    /* 按鈕背景顏色（可選） */
    color: var(--lesser-background-y-);
    /* 按鈕文字顏色（可選） */
    border: none;
    /* 移除按鈕邊框 */
    border-radius: 15px;
    /* 按鈕圓角（可選） */
    cursor: pointer;
    /* 滑鼠移上去時顯示手型 */
}

.collect button:hover {
    background-color: var(--secondary-y-1);
    color: var(--secondary-b-1);
}

.my_content img {
    width: 24px;
    height: 24px;
}

/* 第一欄 */
.first1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first1 li {
    width: 80%;
    justify-content: center;
    align-content: center;
    counter-increment: list-counter;
    list-style: none;
    position: relative;
    font-size: 16px;
}

.first1 li::before {
    content: counter(list-counter) ". ";
    /* 顯示計數器數字 */
    position: absolute;
    /* 絕對定位 */
    left: -2em;
    /* 調整數字與文字之間的距離 */
    font-weight: normal;
    /* 可選，將數字設置為粗體 */
    color: var(--font-b-1)
        /* 可選，設置數字的顏色 */
}

.first1 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--font-b-1);
}

.first1 a:hover {
    text-decoration: underline;
    color: var(--font-b-2);
}

/* 第二欄 */
.second {
    width: 100%;
}

.second li {
    width: 80%;
    justify-content: center;
    align-content: center;
    counter-increment: list-counter;
    list-style: none;
    position: relative;
    font-size: 16px;
}

.second a {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--font-b-1);
}

.second a:hover {
    text-decoration: underline;
    color: var(--font-b-2);
}

.second a img {
    margin: 5%;
}

/* test 頭像區 */
#test_head {
    width: 315px;
    height: 877px;
    margin: 2.5% 10vh 0 0;
    border-radius: 20px;
    background-color: var(--lesser-background-b-);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    /* position: fixed; */
}

#test_head .head {
    margin: 66px 40px;
    width: 164px;
    height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* AI頁 */
#section-ai {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: none;
    background-color: var(--lesser-background-y-);
    background-size: cover;
    position: relative;

}

.aiTest {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 200vh;
    margin-top: 5vh;
    margin-left: 20%;
    background-image: url(../imgs/member_img/aibg.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.aiTest #test-body {
    margin-top: 11%;
    position: relative;

}

.aiTest .title {
    display: flex;
    margin-top: 0;
    margin-left: 9%;
}

.aiTest .question {
    display: flex;
    margin-left: 12%;
}

.aiTest .title img {
    width: 50px;
    height: 42px;
    margin-right: 1%;
}

.aiTest .question img {
    width: 24px;
    height: 24px;
}

.aiTest h4,
p {
    font-size: 16px;
    font-weight: 400;
    color: var(--font-b-1);
}

#question1 {
    margin-top: 6%;
}

.selected {
    background: linear-gradient(0turn, #FFDE67 40%, transparent 0%);
}

.answer {
    margin: 5% 0 0 15%;
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
}

.icon-bar {
    display: flex;
}

#test-bar {
    position: absolute;
    top: 5%;
    right: 4%;
}

.test-guide {
    background-color: var(--lesser-background-b-);
    border-radius: 20px;
    position: relative;
}

#test-bar button {
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 60%;
    height: 5%;
    border-radius: 41px;
    background-color: var(--secondary-y-1);
    color: var(--primary-b-2);
    border: none;
    cursor: pointer;
}

#test-bar button:hover {
    background-color: var(--primary-b-2);
    color: var(--secondary-y-1);
}

#test-bar figure {
    margin: 15% 0 90% 0;
}

/* AI詳解頁 */

.detail-ans {
    margin: 5% 0 0 15%;
}

.detail-op {
    margin-top: 3%;
}


#chat-container {
    width: 50%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 15%;
    background-color: transparent;
    z-index: 888;
    position: fixed;
    top: 50%;
    right: 450px;
}
#chat-container .title{
    display: flex;
    align-items: center;
    margin: 1%;
}
h5{
    font-size: 20px;
    font-weight: 600;
    color: var(--font-b-1);
}

#messages {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 2%;
    flex: 1;
    overflow: auto;
    padding: 5px;
    background-color: var(--lesser-background-y-);
    border-radius: 10px;
    border: 2px solid var(--primary-b-2);
}
#input {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1%;
}

#message-input {
    flex: 1;
    padding-right: 40px;
    /* 預留空間給按鈕 */
    border: 2px solid var(--primary-b-2);
    background-color: var(--lesser-background-y-);
    box-sizing: border-box;
    border-radius: 10px;
    transition: max-height 0.3s ease, padding 0.3s ease; /* 添加動畫效果 */
}

.user-message {
    background-color:var(--lesser-background-b-);
    color: var(--font-b-1);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: right;
    align-self: flex-end;

}

.bot-message {
    background-color:var(--lesser-background-b-);
    color: var(--font-b-1);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: left;
    align-self: flex-start;
    font-weight: 600;
}
#send-button {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 10px;
    /* 靠近輸入欄位右邊 */
    top: 5px;
    background-image: url(../imgs/member_img/arrowbtn.svg);
    background-color: var(--primary-b-1);
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
