@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Train+One&display=swap');
/* UTF-8一定要在行數1 */



:root {
    --primary-b-1: #48B2FF;
    --primary-b-2: #4395E6;

    --secondary-y-1: #FFDE67;
    --secondary-b-1: #276BC6;

    --tertiary: #ecf0f4;

    --font-b-1: #1C276D;
    --font-b-2: #276BC6;

    /* 輔助 */
    --lesser-background-y-: #FFFEF6;
    --lesser-background-b-: #EFF5FF;




    /* 漸層 */
}


/* 重置所有標籤的樣式 */
* {
    /* '*'代表全部所有東西 重製全部東西 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  rwd一定要寫 不累加padding border*/
    /* 不累加內容的padding */
}

/* 重置字體 */
/* 字體會先抓前面的 */
/* 英文字體不會設定中文字體 會直接往後找 font-family= '英文字體' '中文字體' */
body {

    font-family: sans-serif;
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    text-decoration: none;
    /* 將預設inline改為block */
    /* 底線會先拿掉 */
    color: #000;
    /* 設定顏色 */
}

/* 共用區 */
:root {
    --primary-b-1: #48B2FF;
    --primary-b-2: #4395E6;

    --secondary-y-1: #FFDE67;
    --secondary-b-1: #276BC6;

    --tertiary: #ecf0f4;

    --font-b-1: #1C276D;
    --font-b-2: #276BC6;

    /* 輔助 */
    --lesser-background-y-: #FFFEF6;
    --lesser-background-b-: #EFF5FF;
}

h2 {
    width: 100%;
    padding-bottom: 36px;
    font-size: 30px;
    color: var(--font-b-1);
}

h3 {
    font-size: 24px;
    color: var(--font-b-1);
}


body {
    /* background-image: url(../imgs/member_img/background.svg); */
    background-color: var(--lesser-background-y-);
    background-size: cover;
    font-family: 'Noto Sans TC', sans-serif;
}

#member-bg {
    background-image: url(../imgs/member_img/background.svg);
}

section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;

}

main {
    display: flex;
}

/* 頁首區 */

#c_topbar {
    width: 125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lesser-background-b-);
    color: var(--primary-b-2);
    z-index: 999;
    position: fixed;
}

#c_topbar .nav {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

}

.nav li {
    font-size: 18px;
    position: relative;
    justify-content: center;
}

.item-s,
.item,
.log_out {
    width: 85%;
    height: 6.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item-s{
    padding:10px 0;
    box-sizing: unset;
}

.item-s:hover {
    color: var(--secondary-y-1);
    background-image: url(../imgs/member_img/sub-menu-hover.svg);
    background-size: cover;
    cursor: pointer;

}

.nav li a,
.log_out a {
    color: var(--primary-b-2);
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.sub-menu {
    height: 60vh;
    width: 11vh;
    color: var(--lesser-background-y-);
    /* 這裡設置的文字顏色將應用到未被覆蓋的地方 */
    background-color: var(--primary-b-2);
    padding: 10px;
    /* 調整padding，不讓子選單內部太大 */
    list-style-type: none;
    position: absolute;
    top: -15vh;
    left: 95%;
    border-radius: 25px;
    text-align-last: center;
    flex-direction: column;
    justify-content: space-around;
}

.sub-menu li {
    display: flex;
    /* 讓li使用flexbox布局 */
    align-items: center;
    /* 垂直置中 */
    justify-content: center;
    /* 水平置中 */
    padding: 3px 5px;
    text-align: center;
    color: var(--lesser-background-y-);
    margin: 0;
    height: 15%;

}

.sub-menu li:hover {
    color: var(--primary-b-2);
    /* 應用背景色與文字顏色的對比 */
    background-color: var(--secondary-y-1);
    border-radius: 50%;

}

.nav .sub-menu a {
    text-align: center;
    display: flex;
    /* 讓li使用flexbox布局 */
    align-items: center;
    /* 垂直置中 */
    justify-content: center;
    /* 水平置中 */
    text-decoration: none;
    color: var(--lesser-background-y-);
    /* 讓文字顏色繼承自li的設定，確保一致性 */

}

.sub-menu li:hover a {
    color: var(--primary-b-2);
    /* 鼠標懸停時的文字顏色 */
    text-decoration: none;

}

.log_out {
    font-size: 16px;
}

#c_topbar h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 10%;
    margin-top: 10%;
    

}

#c_topbar h1 a {
    width: 100%;
    max-width: 70px;
    height: 100%;
    max-height: 70px;
}

#c_topbar h1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 頭像區 */

.basic_head {
    width: 29%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

}



#head {
    width: 280px;
    height: 81%;
    border-radius: 20px;
    background-color: var(--lesser-background-b-);
    box-shadow: 5px 5px 15px rgba(39, 108, 198, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;

}


#head .head {
    margin: 66px 40px;
    width: 164px;
    height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    height: 50%;
    border-radius: 20px;
    background-color: var(--lesser-background-y-);
    box-shadow: 5px 5px 15px rgba(39, 108, 198, 0.25);
}

.info h2 {
    width: 80%;
}

.info li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 90%;
}


.info a {
    width: 200px;
    height: 50px;
    border: 2px solid var(--primary-b-2);
    background-color: var(--primary-b-2);
    color: var(--tertiary);
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info a:hover {
    background-color: var(--secondary-y-1);
    color: var(--secondary-b-1);

}


/* 修改區 */
.basic_revise {
    width: 71%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

/* .basic_revise h3 {
    font-weight: 400;
}
 */



#me {
    width: 100%;
    height: 100%;
    padding-top: 8%;
    padding-left: 10%;
    overflow: auto;
}

#member_edit {
    font-size: 18px;
    margin-top: 1rem;
    width: 100%;
    color: var(--font-b-1);
    font-family: 'Noto Sans TC', sans-serif;
    align-content: center;
}

#member_edit input,
#member_edit textarea,
#member_edit select {
    width: 20%;
    height: 37.48px;
    padding: 20px;
    border-radius: 25px;
    font-size: 16px;
    color: var(--secondary-b-1);
    background-color: var(--lesser-background-b-);
    border: transparent;
    align-items: center;
}

#member_edit select {
    width: 10%;
    /* 或者根據需要調整 */
    height: auto;
    /* 確保高度適應選項 */
    text-align: center;
}

#member_edit input:focus,
#member_edit textarea:focus,
#member_edit select:focus {
    outline: transparent;
    border: transparent;
}

/* 第一欄 */
.name {
    width: 100vh;
    height: 156.6px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 第二欄 */
.title {
    margin-top: 41.5px;
}

.account {
    width: 100vh;
    height: 156.6px;
    margin-top: 1rem;
    padding: 20px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

#member_edit #email {
    width: 30%;
    margin: 0 29px 0 36.77px;
}

.account button {
    width: 95px;
    height: 35px;
    margin-right: 46.61px;
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--secondary-y-1);
    border: none;
    cursor: pointer;
}

.account p {
    margin-right: 23.4px;
}

.account .google {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-image: url(../imgs/member_img/google.svg);
    background-color: transparent;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-right: 26px;
    cursor: pointer;
}

.account .fb {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-image: url(../imgs/member_img/fb.svg);
    border: none;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
}

.pw {
    width: 100%;
}

.identity {
    width: 100%;
}

/* 第三欄 */

.pw {
    width: 100vh;
    height: 30%;
    margin-top: 1rem;
    padding: 50px 20px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}

.pw .gap {
    margin: 20px 0;
}

.pw #password-o {
    width: 35%;
    padding: 10px;
    margin: 0 42px;
    align-content: space-between;
}

.pw #password {
    width: 35%;
    padding: 10px;
    margin: 0 60px;
    align-content: space-between;
}

.pw button {
    width: 95px;
    height: 35px;
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--secondary-y-1);
    border: none;
    cursor: pointer;
}

/* 第四欄 */
.identity {
    width: 100vh;
    height: 15%;
    margin-top: 1rem;
    padding: 50px;
    border: 1.25px solid var(--primary-b-1);
    border-radius: 25px;
    background-color: var(--lesser-background-y-);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.identity #member {
    width: 24%;
    height: 30%;
    align-content: center;
}


/* 儲存按鈕 */
#save {
    width: 100vh;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

#btn-y:hover {
    background-color: var(--secondary-b-1);
    color: var(--secondary-y-1);

}

#submit {
    width: 20%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin: 45px 20px 0 0;
    background-color: var(--secondary-y-1);
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--secondary-b-1);
    color: var(--secondary-y-1);

}



#bell {
    width: 20vh;
    height: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 50px;
}

.bell {
    width: 60px;
    height: 60px;
    background-image: url(../imgs/member_img/bell.svg);
}

/* 我的紀錄頁 */
.record,
.collect {
    width: 71%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.record {
    list-style: none;
    counter-reset: myCounter;
}

.record .first1 li:before {
    counter-increment: myCounter;
    content: counter(myCounter) ". ";
}

#record,
#collect {
    width: 80%;
    height: 80vh;

}

#record h3 {
    margin-left: 20px;
}

#record figure {
    width: 20vh;
    padding-bottom: 10px;
}


#test,
#program {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    overflow: auto;
    padding-bottom: 30px;
    gap: 40px;
}



/* 捲軸 */
#test::-webkit-scrollbar,
#program::-webkit-scrollbar,
.content ul::-webkit-scrollbar,
#my_test::-webkit-scrollbar,
#messages::-webkit-scrollbar {
    background-color: var(--lesser-background-y-);
    border: var(--primary-b-1) 1px solid;
    border-radius: 99px;

}

#test::-webkit-scrollbar-thumb,
#program::-webkit-scrollbar-thumb,
.content ul::-webkit-scrollbar-thumb,
#my_test::-webkit-scrollbar-thumb,
#messages::-webkit-scrollbar-thumb {
    background-color: var(--primary-b-2);
    border-radius: 99px;
}

#test::-webkit-scrollbar-track,
#program::-webkit-scrollbar-track,
.content ul::-webkit-scrollbar-track,
#my_test::-webkit-scrollbar-track,
#messages::-webkit-scrollbar-track {
    border-radius: 99px;
}

#test::-webkit-scrollbar-button,
#program::-webkit-scrollbar-button,
.content ul::-webkit-scrollbar-button,
#my_test::-webkit-scrollbar-button,
#messages::-webkit-scrollbar-button {
    display: none;
    /* 若預設就是display none 是因為body有設定botton 所以需要另外設定取消 */
}

#test::-webkit-scrollbar-corner,
#program::-webkit-scrollbar-corner,
.content ul::-webkit-scrollbar-corner,
#my_test::-webkit-scrollbar-corner,
#messages::-webkit-scrollbar-corner {
    border-radius: 50%;
}

#test::-webkit-scrollbar-thumb:hover,
#program::-webkit-scrollbar-thumb:hover,
.content ul::-webkit-scrollbar-thumb:hover,
#my_test::-webkit-scrollbar-thumb:hover,
#messages::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-b-2);
    border-radius: 99px;
}

/* 我的收藏頁 */
#collect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.content {

    width: 80%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.content ul {
    width: 400px;
    height: 80%;
    margin-top: 30px;
    padding: 10px;
    background-color: var(--lesser-background-b-);
    border-radius: 20px;
    overflow: auto;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img {
    width: 24px;
    height: 24px;
}

.first {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first li {
    width: 80%;
    justify-content: center;
    align-content: center;
}

.first a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--font-b-1);
}

.first a:hover {
    text-decoration: underline;
    color: var(--font-b-2);
}

/* 我的考試頁 */
#testpage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;

}

.text_item {
    width: 100%;
}

.test_content {
    width: 70%;
    height: 95vh;
    padding: 0 5% 0 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}


.user {
    width: 100%;
    font-size: 36px;

}

/* 搜尋區 */
#search {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;

}

.search {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 64.5vh;
    background-position: 0 -20px;
    background-position: 100% auto;
}

.icon-user {
    position: absolute;
    right: 5px;
    top: 15px;
    z-index: 5;
    background-image: url(../imgs/sraech-img/serch.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px;


}

.search_label {
    width: 40%;
}

input {
    background-color: var(--lesser-background-b-);
    width: 100%;
    height: 6vh;
    font-size: 1.2rem;
    color: var(--font-b-2);
    margin-bottom: 10px;
    border-radius: 99px;
    border: var(--primary-b-2) 1px solid;
    padding: 0 20px;
}

input:focus {
    outline: var(--font-b-1) 1px solid;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* test我的考試區 */

.test_title {
    width: 100%;

}

#my_test {
    display: flex;
    width: 100%;
    overflow: auto;
    gap: 50px;

}

.test_control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

#my_test .content {
    width: 100vh;
    margin: 107px 0 0 0;
}

#my_test figure {
    width: 18vh;
    padding-bottom: 10px;
}

/* 紀錄收藏區 */
.my_content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.my_content ul {
    width: 100%;
    height: 80%;
    background-color: var(--lesser-background-b-);
    box-shadow: 5px 5px 15px rgba(39, 108, 198, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.record1,
.collect1 {
    width: 40%;
    height: 100%;

}

.record1 .record,
.collect1 .collect {
    margin-top: 20px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.more_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}



.more_btn button {
    padding: 3px 20px;
    background-color: var(--primary-b-2);
    color: var(--lesser-background-y-);
    border: none;
    border-radius: 15px;
    cursor: pointer;

}

.record button:hover {
    background-color: var(--secondary-y-1);
    color: var(--secondary-b-1);
}



.collect button:hover {
    background-color: var(--secondary-y-1);
    color: var(--secondary-b-1);
}

.my_content img {
    width: 24px;
    height: 24px;
}

/* 第一欄 */
.first1,
.second {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first1 li {
    width: 80%;
    justify-content: center;
    align-content: center;
    counter-increment: list-counter;
    list-style: none;
    position: relative;
    font-size: 16px;
}

.first1 li::before {
    content: counter(list-counter) ". ";
    /* 顯示計數器數字 */
    position: absolute;
    /* 絕對定位 */
    left: -2em;
    /* 調整數字與文字之間的距離 */
    font-weight: normal;
    /* 可選，將數字設置為粗體 */
    color: var(--font-b-1)
        /* 可選，設置數字的顏色 */
}

.first1 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--font-b-1);
}

.first1 a:hover {
    text-decoration: underline;
    color: var(--font-b-2);
}

/* 第二欄 */
.second {
    width: 100%;
}

.second li {
    width: 80%;
    justify-content: center;
    align-content: center;
    counter-increment: list-counter;
    list-style: none;
    position: relative;
    font-size: 16px;
}

.second a {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--font-b-1);
}

.second a:hover {
    text-decoration: underline;
    color: var(--font-b-2);
}

.second a img {
    margin: 5%;
}

/* test 頭像區 */
#test_head {
    width: 15%;
    height: 80%;
    border-radius: 20px;
    background-color: var(--lesser-background-b-);
    box-shadow: 5px 5px 15px rgba(39, 108, 198, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    position: relative;
}

.edit a {
    width: 100%;
    height: 100%;
}

.edit {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 25px;
    right: 25px;
    background-image: url(../imgs/member_img/edit.svg);

}

.edit:hover {
    background-image: url(../imgs/member_img/Edit-hover.svg);
    cursor: pointer;
}

#test_head .head {
    margin: 66px 40px;
    width: 164px;
    height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* AI頁 */
#section-ai {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: none;
    background-color: var(--lesser-background-y-);
    background-size: cover;
    position: relative;

}

.aiTest {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 200vh;
    margin-top: 7%;
    margin-left: 20%;
    background-image: url(../imgs/member_img/aibg.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.aiTest #test-body {
    margin-top: 11%;
    position: relative;

}

.aiTest .title {
    display: flex;
    margin-top: 10%;
    margin-left: 9%;
}

.aiTest .question {
    display: flex;
    margin-left: 12%;
}

.aiTest .title img {
    width: 50px;
    height: 42px;
    margin-right: 1%;
}

.aiTest .question img {
    width: 24px;
    height: 24px;
}

.aiTest h4,
p {
    font-size: 16px;
    font-weight: 400;
    color: var(--font-b-1);
}

#question1 {
    margin-top: 6%;
}

.selected {
    background: linear-gradient(0turn, #FFDE67 40%, transparent 0%);
}

.answer {
    margin: 5% 0 0 15%;
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
}

.icon-bar {
    width: 100%;
    display: flex;
    align-items: center;
}

.face {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face img {
    width: 100%;
}

#test-bar {
    width: 9%;
    height: 1000px;
    position: absolute;
    top: 0;
    right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.test-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.test-guide {
    width: 80%;
    background-color: var(--lesser-background-b-);
    border-radius: 20px;
    position: relative;
}
.test-guide-s {
    width: 60%;
    background-color: var(--lesser-background-b-);
    border-radius: 20px;
    position: relative;
}

#test-bar button {
    position: absolute;
    bottom: 3%;
    left: 20%;
    width: 60%;
    height: 5%;
    border-radius: 41px;
    background-color: var(--secondary-y-1);
    color: var(--primary-b-2);
    border: none;
    cursor: pointer;
}

#test-bar button:hover {
    background-color: var(--primary-b-2);
    color: var(--secondary-y-1);
}



/* AI詳解頁 */

.detail-ans {
    margin: 5% 0 0 15%;
}

.detail-op {
    margin-top: 3%;
}


#chat-container {
    width: 42%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    /* 移除原有的 margin */
    background-color: transparent;
    z-index: 888;
    position: fixed;
    bottom: 0;
    /* 固定在视窗底部 */
    right: 30%;
    /* 保持右侧的 margin */

}

#chat-container .title {
    display: flex;
    align-items: center;
    margin: 1%;

}


h5 {
    width: 10%;
    font-size: 20px;
    font-weight: 600;
    color: var(--lesser-background-y-);
    background-color: var(--primary-b-2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#messages {
    display: none;
    /* 初始状态下隐藏 */
    flex-direction: column;
    width: 100%;
    height: 2%;
    flex: 1;
    overflow: auto;
    padding: 5px;
    background-color: var(--lesser-background-y-);
    border-radius: 10px;
    border: 2px solid var(--primary-b-2);
}

#input {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1%;
}

#message-input {
    flex: 1;
    padding-right: 40px;
    /* 預留空間給按鈕 */
    border: 2px solid var(--primary-b-2);
    background-color: var(--lesser-background-y-);
    box-sizing: border-box;
    border-radius: 10px;
    transition: max-height 0.3s ease, padding 0.3s ease;
    /* 添加動畫效果 */
}

.user-message {
    background-color: var(--lesser-background-b-);
    color: var(--font-b-1);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: right;
    align-self: flex-end;
    font-weight: 600;
}

.bot-message {
    background-color: var(--lesser-background-b-);
    color: var(--font-b-1);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: left;
    align-self: flex-start;
    font-weight: 600;
}

#send-button {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 10px;
    /* 靠近輸入欄位右邊 */
    top: 5px;
    background-image: url(../imgs/member_img/arrowbtn.svg);
    background-color: var(--primary-b-1);
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}