@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Train+One&display=swap');
/* UTF-8一定要在行數1 */



:root {
  --primary-b-1: #48B2FF;
  --primary-b-2: #4395E6;

  --secondary-y-1: #FFDE67;
  --secondary-b-1: #276BC6;

  --tertiary: #ecf0f4;

  --font-b-1: #1C276D;
  --font-b-2: #276BC6;

  /* 輔助 */
  --lesser-background-y-: #FFFEF6;
  --lesser-background-b-: #EFF5FF;




  /* 漸層 */
}


/* 重置所有標籤的樣式 */
* {
  /* '*'代表全部所有東西 重製全部東西 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  rwd一定要寫 不累加padding border*/
  /* 不累加內容的padding */
}

/* 重置字體 */
/* 字體會先抓前面的 */
/* 英文字體不會設定中文字體 會直接往後找 font-family= '英文字體' '中文字體' */
body {

  font-family: sans-serif;
  font-family:
    /*西文*/
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    /*中文*/
    "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
  /* 將預設inline改為block */
  /* 底線會先拿掉 */
  color: #000;
  /* 設定顏色 */
}

/* 共用區 */

/* sreach區 */
#sreach {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
  height: 645px;
  background: url(../imgs/sraech-img/background-se.svg);
  background-color: var(--lesser-background-y-);

}

.topbar {
  display: flex;
  justify-content: space-between;
  flex-basis: 150px;
  padding-top: 50px;
  width: 90%;
  

}

.topbar .logo {
  /* font-family: "Train One", sans-serif;
  font-size: 78px; */
width: 48px;
height: 62px;
object-fit: cover;
  
}
.topbar .member {
width: 87px;
height: 83px;
object-fit: cover;
  
}


.topbar h1 a {
  color: var(--secondary-b-1);
}

.menu ul {
  display: flex;
}

/* checklist區 */

#checklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  background: url(../imgs/sraech-img/background-se.svg);
  background-color: var(--lesser-background-y-);
}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 280px;
  margin-top: 100px;

}

.btn_c {

  background-color: var(--primary-b-2);
  color: var(--lesser-background-y-);
  padding: 20px 59px 10px;

  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

.btn_b {
  background-color: var(--secondary-y-1);
  color: var(--secondary-b-1);
  padding: 20px 59px 10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

/* .background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: var(--lesser-background-b-);
} */

.checklist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--lesser-background-b-);
}

.checklist_menu {
  display: flex;
  margin: 67px 0;
}

.checklist_menu li {
  margin: 30px;
}

.checklist_menu img {
  width: 72px;
  height: 82px;
}


.invantory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  background-color: var(--lesser-background-b-);
  height: 688px;
  overflow: auto;
  margin: 50px 0;
  
}

.box_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  margin: 58px 0;

}

.box_list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}


.box_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 199px;
  height: 173px;
  border-radius: 10px;
  background-image: url(../imgs/sraech-img/background.svg);
}

.box_list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.box_list li p {
  font-size: 18px;
  margin: 20px 0 0 0;
  color: var(--font-b-1);
  font-family: "Noto Sans TC", sans-serif;
  border-bottom: var(--secondary-b-1) solid 2px;
}

.invantory::-webkit-scrollbar {
  background-color: var(--lesser-background-y-);
  border: var(--primary-b-1) 1px solid;
  border-radius: 99px;
  
}

.invantory::-webkit-scrollbar-thumb {
  background-color: var(--primary-b-2);
  border-radius: 99px;
}

.invantory::-webkit-scrollbar-track {
  
  border-radius: 99px;
}

.invantory::-webkit-scrollbar-button {
  display: none;
  /* 若預設就是display none 是因為body有設定botton 所以需要另外設定取消 */
}

.invantory::-webkit-scrollbar-corner {
  
  border-radius: 50%;
}