@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Train+One&display=swap');
/* UTF-8一定要在行數1 */



:root {
  --primary-b-1: #48B2FF;
  --primary-b-2: #4395E6;

  --secondary-y-1: #FFDE67;
  --secondary-b-1: #276BC6;

  --tertiary: #ecf0f4;

  --font-b-1: #1C276D;
  --font-b-2: #276BC6;

  /* 輔助 */
  --lesser-background-y-: #FFFEF6;
  --lesser-background-b-: #EFF5FF;




  /* 漸層 */
}


/* 重置所有標籤的樣式 */
* {
  /* '*'代表全部所有東西 重製全部東西 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  rwd一定要寫 不累加padding border*/
  /* 不累加內容的padding */
}

/* 重置字體 */
/* 字體會先抓前面的 */
/* 英文字體不會設定中文字體 會直接往後找 font-family= '英文字體' '中文字體' */
body {

  font-family: sans-serif;
  font-family:
    /*西文*/
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    /*中文*/
    "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
  /* 將預設inline改為block */
  /* 底線會先拿掉 */
  color: #000;
  /* 設定顏色 */
}

/* 共用區 */




/* 頁首區 */

/* header區 */
#topbar {
  z-index: 999;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lesser-background-b-);
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.navigation .menu {
  display: flex;
  align-items: center;
}

.navigation .menu li {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 18px;
}

.navigation .menu li h1 {
  font-family: "Train One", sans-serif;
  font-size: 34px;
}

.navigation .menu h1 a {
  color: var(--secondary-b-1)
}

.navigation .menu a {
  margin: 0 80px;
  color: var(--font-b-1)
}


.icon__search {
  background-image: url(../imgs/index-img/search.svg);
}

.icon__member {
  background-image: url(../imgs/index-img/member.svg);
}



/* 主要內容共用區 */
/* section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  max-height: 800px;
} */

.box__list {
  width: 1111px;
  max-width: 1440px;
  /* 通常搭配相對單位，設定絕對單位 */
  display: flex;
  justify-content: space-around;

}

/* banner */
#banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--lesser-background-b-);
}

#banner .logo {
  width: 366px;
  height: 246px;
  background-image: url(../imgs/index-img/logo-banner.svg);
}

#banner h1 {
  font-family: "Train One", sans-serif;
  font-weight: regular;
  font-size: 96px;
  color: var(--secondary-b-1)
}

#banner .facia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  max-width: 1440px;
}

.moon {
  position: absolute;
  /* 絕對定位 */
  right: 150px;
  top: 100px;
  height: 143px;
  width: 143px;
}

.star {
  position: absolute;
  /* 絕對定位 */
  left: 150px;
  bottom: 180px;
  height: 148px;
  width: 148px;
}


/* subject */
#subject {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--lesser-background-b-);
}

#subject .checklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#subject figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

#subject figure.moktest {
  background: url("../imgs/index-img/moktest.svg");
  width: 300px;
  height: 224px;
  background-size: cover;
  border-radius: 23px;
  transition: 0.35s;
}

#subject figure.moktest:hover {
  background: url("../imgs/index-img/text.svg");
  background-size: cover;
  box-shadow: 4px 4px 4px rgb(39, 107, 198, 0.25);

}

#subject figure.course {
  background: url("../imgs/index-img/course.svg");
  width: 305px;
  height: 228px;
  background-size: cover;
  border-radius: 23px;
  transition: 0.35s;
}

#subject figure.course:hover {
  background: url("../imgs/index-img/course-hover.svg");
  background-size: cover;
}

#subject figure.arrow {
  background: url("../imgs/index-img/arrow.svg");
  /*預設顯示圖片*/
  width: 90px;
  height: 90px;
  background-size: cover;
}

#subject .box__list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#subject .box__list li {
  margin: 0 20px;
}

.oval {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 300px;
  width: 100%;
  max-width: 1440px;
}

.star-2 {
  position: absolute;
  z-index: 3;
  /* 絕對定位 */
  right: 100px;
  top: 100px;
  height: 143px;
  width: 143px;
}

.moon-2 {
  position: absolute;
  z-index: 3;
  left: 100px;
  top: 100px;
  height: 143px;
  width: 143px;
  transform: rotate(20deg);
}


/* marquee */
section#marquee {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* news */
#news {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../imgs/index-img/background-news.svg);
  background-size: cover;

}

#news h2 {
  font-size: 36px;
  color: var(--font-b-1);
  font-weight: bold;
}

.news__test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.news_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.test_box__list {
  width: 540px;
  height: 525px;
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  margin-top: 80px;

}

.news__test__item {
  display: flex;
  align-items: center;
  writing-mode: vertical-lr;
  padding: 10px;
  height: 525px;

}

.news__test__item .test_image {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.test_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__test__item h3 {
  /* border-left: #FFDE67 5px solid; */
  font-size: 24px;
  color: var(--font-b-1);
  font-weight: bold;
}

.news__test__item p {
  color: var(--font-b-1);
  font-size: 18px;
  font-weight: bold;
}


.info_box__list {
  width: 540px;
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0 50px;
  margin-top: 80px;

}

.news__item ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news__item li {
  margin: 0 10px;
}


.news__item .test_image {
  width: 180px;
  height: 110px;
  border-radius: 175px;
  /* Oval shape */
  overflow: hidden;
  margin-right: 15px;
}

.news__item .test_image-2 {
  width: 110px;
  height: 180px;
  border-radius: 175px;
  /* Oval shape */
  overflow: hidden;
  margin-right: 15px;
}

.news__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__item h3 {
  font-size: 24px;
  color: var(--font-b-1);
  font-weight: bold;
}


.news__item p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 18px;
  color: var(--font-b-1);
  font-weight: bold;
}

/* member */
#member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--lesser-background-b-);
}

.member_box__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

}

#member figure {
  width: 400px;
  height: 580px;
  margin: 0 -5px;


}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: var(--lesser-background-b-);
  height: 300px;
  padding: 20px;
}

footer ul {
  display: flex;
  max-width: 1440px;
}

a {
  color: var(--lesser-background-y-);
  margin-right: 5px;
  margin-bottom: 5px;
}

.footer__box__list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
  width: 106px;
  height: 72px;
  background-image: url(../imgs/index-img/planet.svg);
  background-size: cover;
}