@charset "UTF-8";

/* UTF-8一定要在行數1 */

/* 重置所有標籤的樣式 */
* {
  /* '*'代表全部所有東西 重製全部東西 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  rwd一定要寫 不累加padding border*/
  /* 不累加內容的padding */
}

/* 重置字體 */
/* 字體會先抓前面的 */
/* 英文字體不會設定中文字體 會直接往後找 font-family= '英文字體' '中文字體' */
body {

  font-size: 100%;
  line-height: 1.5;
  background-color: #FFFEF6;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
  /* 將預設inline改為block */
  /* 底線會先拿掉 */
  color: #000;
  /* 設定顏色 */
}

/* 共用區 */




/* 頁首區 */

/* header區 */
#topbar {
 position: fixed;
 /* 固定定位 部會跟著卷軸走 */
 z-index: 999;
 width: 100%;
 /* 定位會變成抓內容的尺寸，所以要手動設定回w100% */

 display: flex;
 /* 預設主軸為水平 */
 justify-content: space-between;
 /* 主軸均分貼齊頭尾 */
 align-items: center;
 padding: 30px;
 background-color: #1a63ac;
 top: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  /* 主軸變垂直 */
  align-items: flex-start;
  /* 副軸水平 */
  
}

.navigation .menu {
  display: flex;
  /* 控制父層的外距 */



}

.navigation .menu li h1 img {
  height: 50px;
  width: 50px;
  margin-top: -15px;
}

.navigation .menu li {
  margin: 0 50px;
  padding-top: 30px;
}

#topbar div {
  /* icon */
  padding: 20px;
  margin: 0 70px;
  background-color: #967777;
}

.icon__search {
  background-image: url(../imgs/test.svg);
}

.icon__member {
  background-image: url(../imgs/test.svg);
}




/* 按鈕箭頭區 */
.but__arrow {}



/* 主要內容共用區 */
/* section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.box__list {
  width: 1111px;
  max-width: 1440px;
  /* 通常搭配相對單位，設定絕對單位 */
  display: flex;
  justify-content: space-around;

}

/* banner */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

article.banner__item {
  width: 327px;
  height: 265px;
  border: solid 1px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__list img {
  height: 75px;
  width: 75px;

}

.icon__certain {}

.btn__arrow {
  width: 90px;
  height: 90px;
  margin: 20px;
  background-image: url(../imgs/test.svg);
}


/* subject */
#subject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px 100px;

}

#subject a {}

#subject figure {
  width: 200px;
  height: 200px;
  background-color: #1a63ac;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#subject img {

  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* marquee */
section#marquee {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* news */
#news {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.news__test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:100px;
}
.news_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right:100px;
}

.test_box__list {
  width: 540px;
  height: 525px;
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  margin-top: 80px;
 
}

.news__test__item {
  writing-mode: vertical-lr;
  /* 文字從左到右的垂直排列 */
  text-orientation: upright;
  /* 文字保持直立 */
  border: 1px solid #000;
  padding: 10px;
  height: 525px;
  /* 設定高度以便觀察效果 */
}

.info_box__list{
  width: 540px;
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0 50px;
  margin-top: 80px;

}

.news__item p{
    /* 多行省略的語法 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 文字溢出時出現省略號，若有設定line-clame時，瀏覽器會自動加入 */
    display: -webkit-box;
    /* 彈性布局 */
    -webkit-box-orient: vertical;
    /* 定義box垂直布局 */
    -webkit-line-clamp: 3;
    /* 行數 */
}

#news figure {

  display: flex;
  justify-content: center;
  align-items: center;
}


/* member */
#member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.member_box__list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  
}
#member figure{
  width: 400px;
  height: 580px;
  margin: 0 50px;
  border: #000 2px solid;

}
/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #1a63ac;
  height: 10vh;
  padding: 20px;
}
.footer__box__list{
  display: flex;

}
.footer__box__list li{
  margin: 0 10px;
}