@charset "UTF-8";

/* UTF-8一定要在行數1 */

/* 重置所有標籤的樣式 */
* {
  /* '*'代表全部所有東西 重製全部東西 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  rwd一定要寫 不累加padding border*/
  /* 不累加內容的padding */
}

/* 重置字體 */
/* 字體會先抓前面的 */
/* 英文字體不會設定中文字體 會直接往後找 font-family= '英文字體' '中文字體' */
body {

  font-size: 100%;
  line-height: 1.5;
  background-color: #FFFEF6;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
  /* 將預設inline改為block */
  /* 底線會先拿掉 */
  color: #000;
  /* 設定顏色 */
}

/* 共用區 */




/* 頁首區 */

/* header區 */
  #topbar {
    /* 主副軸要確認 現在副軸是垂直 主軸是平行 */
    position: fixed;
    /* 固定定位 部會跟著卷軸走 */
    z-index: 999;
    background-color:#FFFEF6 ;
    width: 100%;
    /* 定位會變成抓內容的尺寸，所以要手動設定回w100% */
    display: flex;
    /* 預設主軸為水平 */
    justify-content: space-between;
    /* 主軸均分貼齊頭尾 */
    align-items: center;
    /* 主副軸要確認 現在副軸是垂直 主軸是平行 */
}

.navigation {
  display: flex;
  flex-direction: column;
  /* 主軸變垂直 */
  align-items: flex-start;
  /* 副軸水平 */
}

.navigation .menu {
  display: flex;
  /* 控制父層的外距 */

}
.navigation .menu li h1 img{
  
  height: 50px;
  width: 50px;
 margin-top: -15px;
}

.navigation .menu li {
  margin: 0 50px;
  padding-top: 30px;
}

#topbar div {
  /* icon */

  padding: 20px;
  margin: 0 70px;
}
.navigation .icon {
  
  height: 35px;
  width: 35px;
  transition: 0.35s;
  /* 最多人用的時間 */
  /* transition: all .35s ease-in-out; */
}
.icon__search{
  background-image: url(../imgs/test.svg);
}




/* 按鈕箭頭區 */
.but__arrow{

}



/* section統一樣式區 */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box__list {
  width: 80%;
  max-width: 1440px;
  /* 通常搭配相對單位，設定絕對單位 */
  display: flex;
  justify-content: space-around;
  
}

/* banner */
#banner {
  
}
article.banner__item{
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 40px;
  border: solid 1px #000;
}

.box__list img {
  height: 75px;
  width: 75px;
  /* 自動剪裁 設定圖片高度 */
}



/* subject */

/* marquee */

/* news */
/* member */
/* footer */



